<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>WKStats</display-name>
  
  <servlet>
      <servlet-name>wkservice</servlet-name>
      <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
      <init-param>
 		<param-name>jersey.config.server.provider.packages</param-name> 
        <param-value>com.juanra.wkstats.service</param-value> 
      </init-param>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>wkservice</servlet-name>
      <url-pattern>/service/*</url-pattern>
  </servlet-mapping>
  
</web-app>
